* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Merriweather", serif;
  color: #333333;
  background: #fff8dc; }

.logo {
  font-size: 70px;
  color: #228822;
  width: 110px;
  height: 110px;
  text-shadow: 1px 1px 1px #ffd700;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

.main-name {
  font-family: "UnifrakturMaguntia", cursive;
  font-size: 50px;
  color: #ffd700; }

.sub-name {
  font-size: 18px;
  color: #fff8dc;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase; }

.main-heading {
  font-family: "UnifrakturMaguntia", cursive;
  font-size: 100px;
  font-weight: lighter;
  color: #ffd700;
  margin: 40px 0; }

.sub-heading {
  font-size: 40px;
  font-weight: 200;
  color: #fff8dc;
  margin-bottom: 80px; }

.main-btn {
  width: 170px;
  height: 45px;
  font-family: inherit;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffd700;
  background-color: #228822;
  border: 1px solid #228822;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease-in; }

.main-btn:hover {
  color: #228822;
  background-color: #ffd700; }

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../images/bg-2.jpg") center no-repeat;
  background-size: cover; }
  .header .brand {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header-banner {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
