.logo {
  font-size: 70px; 
  color: $forest;
  width: 110px;
  height: 110px;
  text-shadow: 1px 1px 1px $secondary;
  @include flexLayout;
}

.main-name {
  font-family: $logo-font;
  font-size: 50px;
  color: $secondary
}

.sub-name {
  font-size: 18px;
  color: $secondary;
  text-align: center;
  @include textStyles;
}



