.logo {
  font-size: 70px; 
  color: $forest;
  width: 110px;
  height: 110px;
  border: 3px solid $secondary;
  border-radius: 50%;
  padding: 10px;
  @include flexLayout;
}

.logo-font {
  font-family: $logo-font;
}