.logo {
  font-size: 70px;
  color: $primary;
  width: 110px;
  height: 110px;
  border: 3px solid $primary;
  border-radius: 50%;
  margin-right: 20px;
  @include flexLayout;

  @media(max-width: 1000px) {
    font-size: 50px;
    width: 90px;
    height: 90px;
  }

  @media(max-width: 500px) {
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-width: 2px;
  }
}

.main-name {
  font-family: $font-logo;
  font-size: 50px;
  color: $primary;
  @include textStyles;
  
  @media(max-width: 1000px) {
    font-size: 40px;
  }

  @media(max-width: 500px) {
    font-size: 20px;
    text-align: center;  
  }
}

.sub-name {
  font-family: $font-main;
  font-size: 18px;
  color: $primary;
  text-align: center;
  @include textStyles;

  @media(max-width: 500px) {
    font-size: 12px;
    text-align: center;  
  }
}

.main-heading {
  font-family: $font-logo;
  font-size: 90px;
  font-weight: 300;
  color: $primary;
  margin-bottom: 30px;

  @media(max-width: 1600px) {
    font-size: 70px;
  }

  @media(max-width: 1000px) {
    font-size: 50px;
  }

}

.sub-heading {
  font-family: $font-main;
  font-size: 50px;
  font-weight: 300;
  color: $primary;
  margin-bottom: 60px;
  text-align: center;

  @media(max-width: 1600px) {
    font-size: 40px;
    margin-bottom: 30px;
  }
  
  @media(max-width: 1300px) {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.main-btn {
  width: 170px;
  height: 45px;
  font-family: $font-main;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $primary;
  background-color: transparent;
  border: 1px solid $primary;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background-color: $primary;
    color: $dark;
  }

  @media(max-width: 800px) {
    width: 150px;
    height: 35px;
    font-size: 12px;
  }
  
  @media(max-width: 500px) {
    width: 130px;
    height: 30px;
    font-size: 10px;
  }
}

